<%- include("./partials/header") %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <h1 class="form-header">Sign Up!</h1>
                <div class="form-body">
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" type="text" name="username" placeholder="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password (must be minimum 8 characters)</label>
                            <input class="form-control" type="password" name="password" placeholder="password" required>
                        </div> 
                        <div class="form-group">
                            <label for="password">Retype Password</label>
                            <input class="form-control" type="password" name="retypePassword" placeholder="retype password" required>
                        </div>  
                        <div class="form-group">
                            <label for="isOwner">I am a...</label>
                            <p>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                      <input type="radio" name="isOwner" id="camper" value="false" checked> Camper
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name="isOwner" id="owner" value="true"> Campground Owner
                                    </label>
                                </div>
                            </p>
                        </div>        
                        <div class="form-group">
                            <label for="email">Email (Optional)</label>
                            <input class="form-control" type="text" name="email" placeholder="email">
                        </div>
                        <div class="form-group">
                            <label for="avatar">Profile Image (Optional)</label>
                            <input class="form-control" type="text" name="avatar" placeholder="image URL">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-success btn-block">Sign Up!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
<%- include("./partials/footer") %>