body {
    background-color: #539940;
}

.added-by-header {
    margin-top: 32px;
}

.checked {
    color: orange;
}

.delete-form {
	display: inline;
}

.form-body {
    width: 30%; 
    min-width: 250px;
    margin: 25px auto;
}

.form-header {
    text-align: center;
}

.hr-header {
    margin-top: 0;
}

.review-body {
    text-align: justify; 
    word-wrap: break-word;
}

.see-more {
    margin-bottom: 10px;
}

.index-campgrounds {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    vertical-align: top;
    font-size: 11px;
}

.thumbnail {
    padding: 0 0 8px;
    border: 1px solid #ddd;
}

.thumbnail .caption-full {
	padding: 9px;
}

.thumbnail img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

#thumbnail-profile {
    padding: 0;
}

#h3-profile {
    margin-top: 32px;
}