.thumbnail img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumbnail {
    padding: 0 0 8px;
    border: 1px solid #ddd;
}

.thumbnail .caption-full {
	padding: 9px;
}

.form-header {
    text-align: center;
}

.form-body {
    width: 30%; 
    min-width: 210px;
    margin: 25px auto;
}

.delete-form {
	display: inline;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

body {
    background-color: #539940;
}