body {
    background-color: #539940;
}

.added-by-header {
    padding-left: 15px;
}

.delete-form {
	display: inline;
}

.form-body {
    width: 30%; 
    min-width: 210px;
    margin: 25px auto;
}

.form-header {
    text-align: center;
}

.index-campgrounds {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    padding: 0 0 8px;
    border: 1px solid #ddd;
}

.thumbnail .caption-full {
	padding: 9px;
}

.thumbnail img {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}